<div *ngFor="let post of posts" class="detail-container">

    <img class="img" src="{{post.url}}" alt="">

    <div class="detail-item">

        <h3>{{ post.name }}</h3>
        <h6>${{ post.price }}</h6>
        <p>{{ post.description}}</p>
        <select (mouseout)="update($event)" class="form-select" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>    
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <button (click)="tocart(post)" class="btn btn-primary">Add to cart</button>
        <a class="back-link" routerLink="/">
            <span style=" text-decoration: underline; font-size: 16px;">Product list</span>
        </a>
        
    </div>

</div>



